<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <title>Nizzle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" media="screen"/>
        <link rel="stylesheet" href="/public/css/nizzle.css" media="screen"/>
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
    </head>
    
    <script type="text/javascript">
        function AgentListController($scope) {
            $scope.agents = [
                {
                    "id": "1",
                    "name": "app",
                    "machine": "DKVMAPP03"
                },
                {
                    "id": "2",
                    "name": "background",
                    "machine": "DKKFEJIFE05"
                },
                {
                    "id": "3",
                    "name": "app2",
                    "machine": "DKVMAPP03"
                },
                {
                    "id": "4",
                    "name": "background2",
                    "machine": "DKIFE05"
                },
                {
                    "id": "5",
                    "name": "sql",
                    "machine": "DKVMSQL01"
                },
                {
                    "id": "6",
                    "name": "mongo",
                    "machine": "DKMONGO01"
                }
            ];

            $scope.setActiveAgent = function(id) {
                for (var index = 0; index < $scope.agents.length; index++) {
                    if ($scope.agents[index].id === id) break;
                }

                $scope.activeAgentIndex = index;
                $scope.activeAgentId = id;
            };

            $scope.activeAgentIndex = 0;
            $scope.activeAgentId = $scope.agents.length > 0 ? $scope.agents[0].id : 0;
        }
        
        function fileSelected() {
            var file = document.getElementById('fileToUpload').files[0];

            if (file) {
                var fileSize;
                
                if (file.size > 1024 * 1024) {
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                } else {
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
                }

                $('#fileName').val(file.name);
                $('#fileSize').html('Size: ' + fileSize);
                $('#fileType').html('Type: ' + file.type);
            }
        }
        
        function uploadFile(id) {
            var xhr = new window.XMLHttpRequest();
            var fd = $('#uploadForm').serialize();

            /* event listners */
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            /* Be sure to change the url below to the url of your upload server side script */
            xhr.open("POST", "/agent/" + id + "/upload");
            xhr.send(fd);
            return false;
        }
        
        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
            //alert("BAM!!!1");
        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            alert("The upload has been canceled by the user or the browser dropped the connection.");
        }
    </script>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    
                    <a class="brand" href="#">Nizzle</a>
                    
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Overview</a></li>
                            <li><a href="#about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Overview</h1>
            
            <div ng-controller="AgentListController">
                <div class="row">
                    <div class="span6">
                        <ul class="agents">
                            <li ng-repeat="agent in agents" ng-show="activeAgentId != agent.id">
                                <div class="agent" ng-click="setActiveAgent(agent.id)">
                                    <h1>{{agent.name}}</h1>
                                    <p>{{agent.machine}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="span6">
                        <div class="activeAgent">
                            <h1>{{agents[activeAgentIndex].name}}</h1>
                            <p style="border-bottom: 1px solid black">
                                {{agents[activeAgentIndex].machine}}
                            </p>
                            
                            <form id="uploadForm" enctype="multipart/form-data" method="post" action="/agent/1/upload">
                                <div class="row">
                                    <input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();"/>
                                    <input type="hidden" name="fileName" id="fileName"/>
                                    <input type="button" onclick="uploadFile({{agents[activeAgentIndex].id}})" value="Upload" />
                                </div>
                                <div id="fileSize"></div>
                                <div id="fileType"></div>
                                <div id="progressNumber"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/public/js/angular.min.js"></script>
    </body>
</html>