ul.agents {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.agents li {
    float: left;
    padding: .2em;
    margin: .2em;
    border: 1px solid black;
    margin: 0.2em;
    padding: 0;
}

.agent h1 {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    background: black;
    color: white;
}

.activeAgent {
    border: 1px solid black;
    margin: 0.2em;
    padding: 0;
}

.activeAgent h1 {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}